#header{
    font-size: 3em;
    border-bottom: 3px solid black;
    text-align: center;
}

#input-your-image{
    font-size: 1.25em;
}

#user-input{
    font-size: 1em;
}

input[type="text"]{
    width: 25px;
}

#before-after-picture{
    display: flex;
    justify-content: space-around;
}

#footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 10%;
    padding-right: 10%;
}